#!/usr/bin/env bash

if [ ! -x "$(which pre-commit)" ]; then
  >&2 echo "pre-commit not installed. install it first and re-run direnv allow ."
  exit 1
fi

if [ ! -f ./.git/hooks/pre-commit ]; then
  >&2 echo "Installing pre-commit hooks"
  pre-commit install
fi
